<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="./css/style.css">
    <title>Add a new toy</title>
</head>
<body class="body">
    <h1 class="header">ADD A NEW PRODUCT</h1>

    <article class="article">
        <table width=100%>
            <form action="/add" method="POST">
               Name <input type="text" name="toyName" id="">  <br>
               Category <input type="text" name="toyCategory" id=""> <br>
               Brand <input type="text" name="toyBrand" id=""> <br>
               Price <input type="text" name="toyPrice" id=""> <br>
                <input type="submit" value="Add">

            </form>
            </tr>
        </table>
    </article>
    <h2 class="footer">@2020 by ATN COMPANY</h2>
</body>
</html>